 .d-flex {
   display: flex;
 }

 .flex-col {
   flex-direction: column;
 }

 .flex-row {
   flex-direction: row;
 }

 .flex-wrap {
   flex-wrap: wrap;
 }

 .flex-nowrap {
   flex-wrap: nowrap;
 }

 .p-2 {
   padding: 2rem;
 }

 .btn {
   padding: 15px;
   border-radius: 10px;
   background-color: #2c3e50;
   color: white;
 }

 .gap-2 {
   gap: 2rem;
 }

 .pt-2 {
   padding-top: 5rem;
 }

 .pb-0 {
   padding-bottom: 0;
 }

 .w-full {
   width: 275px;
   margin: 0 auto;
 }

 .items-center {
   align-items: stretch;
 }

 .section-part {
   display: flex;
   flex-direction: column;
   gap: 1rem;
   max-width: min-content;
   min-width: 100%;
 }

 .w-fit {
   width: fit-content;
 }

 .mx-auto {
   margin: 0 auto;
 }

 a.btn {
   text-decoration: none;
   border: 1px solid transparent;
   transition: all .5s;
 }

 a.btn:hover {
   color: #2c3e50;
   background-color: white;
   border: 1px solid #2c3e50;
 }


 @media screen and (min-width: 768px) {
   .img-about {
     max-width: 50%;
     min-width: 275px;
   }

   .items-center {
     align-items: center;
   }

   .justify-between {
     justify-content: space-between;
   }

   .mw-50 {
     width: 50%;
   }

   .section-part {
     min-width: 50%;
   }

   .w-full {
     width: 100%;
   }
 }